<!DOCTYPE html>                                                                                                                                       
<html lang="en">                                                                
    <head>                                                                      
        <meta charset="utf-8" />                                                
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />                                  
        <meta name="author" content="" />                                       
        <title>Fitter</title>                                          
        <!-- Favicon-->
        <!-- <link rel="shortcut icon" href="#"> -->
        <link rel="shortcut icon" href="https://github.com/fluidicon.png" title="GitHub">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <!-- Font Awesome CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
                crossorigin="anonymous"> </script>
        <script src="{{ url_for('static', filename='js/script.js') }}" type="text/javascript"></script>

        {% block headercontent %} {% endblock %}
    </head>
    <body>
        <!-- Responsive navbar-->                                               
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow: 0px 5px 5px -5px gray;">
          <a class="navbar-brand" href="{{ url_for('auth.index')}}"><strong>Angular</strong>Fitter</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/fitter">Lifetime Fitter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="fitter/plots">Plots</a>
              </li>
            </ul>
            <ul class="navbar-nav navbar-right">
              {% block nav_buttons %}
                <li class="nav-item active"><a class="nav-link" href="{{ url_for('auth.login') }}"><span class="fa fa-user-o"></span> Login</a></li>
              {% endblock %}
            </ul>
          </div>
        </nav>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </body>                                                                     
</html>