{% extends 'base.html' %}

{% block nav_buttons %}
	{% if user_name %}
	  <li class="nav-item active"><a class="nav-link"><font face="Courier"><small>Logged in as</small> {{user_name}}&nbsp;</font></a></li>
	  <li class="nav-item active"><a class="nav-link" href="{{ url_for('auth.logout') }}"><span class="fa fa-user-o"></span> Sign Out</a></li>
	{% else %}
		<li class="nav-item active"><a class="nav-link" href="{{ url_for('auth.login') }}"><span class="fa fa-user-o"></span> Login</a></li>
	{% endif %}
{% endblock %}


